In [1]:
import niftynet as nn

In [2]:
START = "2023-04-01"
END = "2025-04-01"

FEATURE_COLUMN = "Close"

In [3]:
# Fetch and catch nifty 500 list and cache it in user data
nifty500_df = nn.data.fetch_nifty_index()

nifty500_df.head(5)

,Company Name,Industry,Symbol,Series,ISIN Code
0,360 ONE WAM Ltd.,Financial Services,360ONE,EQ,INE466L01038
1,3M India Ltd.,Diversified,3MINDIA,EQ,INE470A01017
2,ABB India Ltd.,Capital Goods,ABB,EQ,INE117A01022
3,ACC Ltd.,Construction Materials,ACC,EQ,INE012A01025
4,ACME Solar Holdings Ltd.,Power,ACMESOLAR,EQ,INE622W01025

In [6]:
# Fetch and catch stock prices for all nifty 500 companies and cache them in user data
stock_prices = nn.data.fetch_stock_data(
    start_date=START,
    end_date=END,
    column="Close"
)

stock_prices.head(5)

,360ONE.NS,3MINDIA.NS,AADHARHFC.NS,AARTIIND.NS,AAVAS.NS,ABB.NS,ABBOTINDIA.NS,ABCAPITAL.NS,ABFRL.NS,ABLBL.NS,...,WELSPUNLIV.NS,WHIRLPOOL.NS,WIPRO.NS,WOCKPHARMA.NS,YESBANK.NS,ZEEL.NS,ZENSARTECH.NS,ZENTEC.NS,ZFCVINDIA.NS,ZYDUSLIFE.NS
Date,,,,,,,,,,,,,,,,,,,,,
2023-04-03,401.210297,21822.482422,NaN,516.228577,1631.500000,3320.836670,21340.644531,153.800003,215.300003,NaN,...,66.484062,1314.246582,176.534241,160.000000,15.35,207.825699,266.934357,337.790222,10199.133789,481.126068
2023-04-05,407.342560,21821.085938,NaN,521.985962,1671.650024,3321.229980,21906.328125,155.250000,206.899994,NaN,...,70.035133,1312.760620,177.397842,160.649994,15.25,207.971451,266.355316,324.869293,10122.009766,481.810028
2023-04-06,418.133331,22457.015625,NaN,532.905090,1635.699951,3343.820801,21939.839844,157.899994,215.850006,NaN,...,72.205238,1316.128662,175.910538,160.899994,15.40,206.416885,270.601562,313.594604,10064.912109,482.835938
2023-04-10,410.907806,21929.671875,NaN,533.054077,1673.150024,3344.362061,21892.568359,159.750000,221.949997,NaN,...,73.586212,1314.345581,179.101044,162.050003,15.20,205.445282,276.150635,310.701141,10191.211914,485.132172
2023-04-11,404.632935,22412.396484,NaN,534.642273,1692.300049,3226.046631,21841.939453,157.600006,222.199997,NaN,...,74.424660,1304.588379,177.637726,163.850006,15.20,207.534241,278.418549,304.764526,10067.402344,489.529114

In [9]:
# remove columns that have NaN on two consecutive rows
consec_nan = (stock_prices.isna() & stock_prices.isna().shift(1)).any(axis=0)
stock_prices = stock_prices.loc[:, ~consec_nan]

stock_prices

,360ONE.NS,3MINDIA.NS,AARTIIND.NS,AAVAS.NS,ABB.NS,ABBOTINDIA.NS,ABCAPITAL.NS,ABFRL.NS,ABREL.NS,ABSLAMC.NS,...,WELSPUNLIV.NS,WHIRLPOOL.NS,WIPRO.NS,WOCKPHARMA.NS,YESBANK.NS,ZEEL.NS,ZENSARTECH.NS,ZENTEC.NS,ZFCVINDIA.NS,ZYDUSLIFE.NS
Date,,,,,,,,,,,,,,,,,,,,,
2023-04-03,401.210297,21822.482422,516.228577,1631.500000,3320.836670,21340.644531,153.800003,215.300003,650.674622,307.753845,...,66.484062,1314.246582,176.534241,160.000000,15.350000,207.825699,266.934357,337.790222,10199.133789,481.126068
2023-04-05,407.342560,21821.085938,521.985962,1671.650024,3321.229980,21906.328125,155.250000,206.899994,639.370483,317.837952,...,70.035133,1312.760620,177.397842,160.649994,15.250000,207.971451,266.355316,324.869293,10122.009766,481.810028
2023-04-06,418.133331,22457.015625,532.905090,1635.699951,3343.820801,21939.839844,157.899994,215.850006,643.683960,320.995148,...,72.205238,1316.128662,175.910538,160.899994,15.400000,206.416885,270.601562,313.594604,10064.912109,482.835938
2023-04-10,410.907806,21929.671875,533.054077,1673.150024,3344.362061,21892.568359,159.750000,221.949997,661.879456,312.843079,...,73.586212,1314.345581,179.101044,162.050003,15.200000,205.445282,276.150635,310.701141,10191.211914,485.132172
2023-04-11,404.632935,22412.396484,534.642273,1692.300049,3226.046631,21841.939453,157.600006,222.199997,675.811096,313.361389,...,74.424660,1304.588379,177.637726,163.850006,15.200000,207.534241,278.418549,304.764526,10067.402344,489.529114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-03-24,967.858826,28048.984375,407.314117,2005.300049,5488.145996,30645.484375,184.589996,254.720001,2049.661377,630.913208,...,138.360886,1000.790771,264.203217,1477.949951,17.430000,103.223534,688.238770,1519.958374,12032.494141,913.238586
2025-03-25,966.919434,27984.884766,396.842041,1957.050049,5371.035645,30674.626953,181.550003,255.399994,1967.635010,629.793945,...,137.797638,983.955627,265.772369,1426.599976,17.030001,100.667191,706.449036,1465.385254,11980.119141,897.073669
2025-03-26,948.971375,27476.615234,388.414520,2013.599976,5479.713379,30171.287109,181.429993,257.649994,1947.053467,613.589294,...,133.756104,965.725952,262.241821,1417.550049,16.959999,98.424263,693.124451,1440.819946,12671.083984,897.222046
2025-03-27,960.590637,27420.873047,394.448425,2087.199951,5496.230469,30149.244141,185.210007,256.269989,1877.665649,626.436279,...,134.022903,981.764099,266.949219,1409.199951,17.260000,99.560417,679.306396,1455.149658,12636.932617,880.661743
2025-03-28,932.160583,28401.281250,389.711060,2084.050049,5502.083496,30298.566406,185.070007,256.269989,1958.143555,619.672119,...,133.518936,986.097412,257.191162,1424.400024,16.879999,96.318459,691.742615,1476.469727,12975.049805,876.361023